.loader {
  display: inline-grid;
  width: 50vmin;
  aspect-ratio: 2;
  box-shadow: 0 2vmin #574951;
  overflow: hidden;
}
.loader:before {
  content: "";
  margin: 0 25%;
  background: #83988E;
  clip-path: polygon(97.55% 65.45%,50% 100%,2.45% 65.45%,20.61% 9.55%,79.39% 9.55%);
  transform-origin: bottom;
  animation: 
    l7-0 .5s linear infinite,
    l7-1  3s steps(6) infinite;
}
@keyframes l7-0 {
  0%{rotate: -36deg}
  to{rotate:  36deg}
}
@keyframes l7-1 {
  0%{translate: -174% 0}
  to{translate:  174% 0}
}

body {
  background: #11131e;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}